:root {
  /* * Custom Dimension */
  --slide-width-height-ratio: calc(1 / 1);
  --slide-max-height: min(100dvh, calc(100dvw / var(--slide-width-height-ratio)));
  --slide-max-width: min(100dvw, calc(100dvh * var(--slide-width-height-ratio)));
  --cubic-bezier-in: cubic-bezier(0.3, 1, 0.7, 1);
}

html,
body {
  background-color: rgb(124, 124, 124);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  margin: 0;
}

.frame {
  aspect-ratio: 1/1;
  inset: 0px;
  min-height: calc(var(--slide-max-height) * 0.7);
  border-radius: 1%;
  box-shadow: 1px 2px 10px 0px rgba(0, 0, 0, 0.3);
  background: #272c34;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Courier New", "Courier", sans-serif;
}

.circle {
  height: 100%;
  aspect-ratio: 1/1;
  position: relative;
  overflow: hidden;
  clip-path: circle(22% at 50% 50%);
}

.sky {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #7ddffc;
  animation: sky-fading 4s cubic-bezier(0.4, 0, 0.49, 1) infinite;
}

.ground {
  position: absolute;
  width: 100%;
  height: 41%;
  bottom: 0%;
  z-index: 2;
  background-color: #f0de75;
  animation: ground-fading 4s cubic-bezier(0.4, 0, 0.49, 1) infinite;
}

.sun {
  position: absolute;
  aspect-ratio: 1/1;
  height: 6%;
  background-color: #ffef00;
  border-radius: 50%;
  transform-origin: 50% 500%;
  z-index: 1;
  top: 33%;
  left: 47%;
  animation: sun-moving 4s cubic-bezier(0.4, 0, 0.49, 1) infinite;
}

.pyramid-left {
  position: absolute;
  height: 12%;
  width: 24%;
  top: 47%;
  left: 38%;
  background-color: #f4f4f4;
  clip-path: polygon(0% 100%, 100% 100%, 50% 0%);
  animation: pyramid-fading 4s cubic-bezier(0.4, 0, 0.49, 1) infinite;
}

.pyramid-right {
  position: absolute;
  height: 12%;
  width: 13%;
  top: 47%;
  left: 49.9%;
  background-color: #dddada;
  clip-path: polygon(30% 100%, 100% 100%, 0% 0%);
  animation: pyramid-fading 4s cubic-bezier(0.4, 0, 0.49, 1) infinite reverse;
}

.shadow {
  position: absolute;
  height: 14%;
  width: 50%;
  top: 59%;
  left: 25%;
  background: rgba(0, 0, 0, 0.2);
  transform-origin: 50% 0%;
  clip-path: polygon(25.6% 0%, 75.7% 0%, 50% 50%);
  z-index: 5;
  animation: shadow-moving 4s cubic-bezier(0.4, 0, 0.49, 1) infinite;
}

@keyframes sky-fading {
  0% {
    background: #272c34;
  }

  30% {
    background: #7ddffc;
  }

  70% {
    background: #7ddffc;
  }

  100% {
    background: #272c34;
  }
}

@keyframes ground-fading {
  0% {
    background: #272c34;
  }

  30% {
    background: #f0de75;
  }

  70% {
    background: #f0de75;
  }

  100% {
    background: #272c34;
  }
}

@keyframes pyramid-fading {
  0% {
    background: #272c34;
  }

  30% {
    background: #f4f4f4;
  }

  70% {
    background: #dddada;
  }

  100% {
    background: #272c34;
  }
}

@keyframes sun-moving {
  0% {
    background: #f57209;
    transform: rotate(-70deg);
  }

  30% {
    background: #ffef00;
    transform: rotate(-28deg);
  }

  70% {
    background: #ffef00;
  }

  100% {
    background: #f57209;
    transform: rotate(70deg);
  }
}

@keyframes shadow-moving {
  0% {
    transform: scaleY(0);
    clip-path: polygon(25.6% 0%, 75.7% 0%, 100% 27%);
  }

  30% {
    transform: scaleY(1);
    clip-path: polygon(25.6% 0%, 75.7% 0%, 70% 50%);
  }

  55% {
    transform: scaleY(0.4);
  }

  75% {
    transform: scaleY(1);
  }

  100% {
    transform: scaleY(0);
    clip-path: polygon(25.6% 0%, 75.7% 0%, 0% 68%);
  }
}
