@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
:root {
  /* * Custom Dimension */
  --slide-width-height-ratio: calc(1 / 1);
  --slide-max-height: min(100dvh, calc(100dvw / var(--slide-width-height-ratio)));
  --slide-max-width: min(100dvw, calc(100dvh * var(--slide-width-height-ratio)));

  --main-brown-color: #786450;
}

html,
body {
  background-color: rgb(124, 124, 124);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  margin: 0;
}

.frame {
  aspect-ratio: 1/1;
  inset: 0px;
  min-height: calc(var(--slide-max-height) * 0.7);
  border-radius: 1%;
  box-shadow: 1px 2px 10px 0px rgba(0, 0, 0, 0.3);
  background: linear-gradient(to top right, #eebe6c 0%, #ca7c4e 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Open Sans", Helvetica, sans-serif;
}

.profile-card {
  aspect-ratio: 1/1;
  height: 70%;
  background-color: white;
  display: flex;
  flex-direction: row;
}

.main-profile {
  flex-grow: 1;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .profile {
    height: 30%;
    aspect-ratio: 1/1;

    .profile-image {
      position: relative;
      height: 100%;
      aspect-ratio: 1/1;
      cursor: pointer;

      & > [class$="-circle"] {
        position: absolute;
        box-sizing: border-box;
        aspect-ratio: 1/1;
        border-width: 0.2cqmin;
        border-style: solid;
        border-radius: 50%;
        border-color: var(--main-brown-color);
        transition: transform 1.5s ease-in-out;
      }

      .outer-circle {
        height: 100%;
        border-color: var(--main-brown-color) var(--main-brown-color) var(--main-brown-color) transparent;
      }

      .inner-circle {
        height: 92%;
        top: 4%;
        left: 4%;
        border-color: var(--main-brown-color) transparent var(--main-brown-color) var(--main-brown-color);
      }

      &:hover {
        .outer-circle {
          transform: rotate(360deg);
        }
        .inner-circle {
          transform: rotate(-360deg);
        }
      }

      .photo {
        position: absolute;
        aspect-ratio: 1/1;
        height: 84%;
        border-radius: 50%;
        top: 8%;
        left: 8%;
      }
    }
  }

  .name-tag {
    height: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--main-brown-color);

    .name {
      font-size: 2cqmin;
      font-weight: 600;
    }
    .job-title {
      font-size: 1.2cqmin;
    }
  }

  .buttons {
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 10%;

    & > button {
      width: 60%;
      height: 24%;
      background: none;
      cursor: pointer;
      border: 0.1cqmin solid var(--main-brown-color);
      border-radius: 4cqmin;
      color: var(--main-brown-color);
      font-size: 1.6cqmin;
      font-weight: 600;
      transition: background-color 0.4s ease-in-out, color 0.4s ease-in-out;

      &:hover {
        background-color: var(--main-brown-color);
        color: #ffffff;
      }
    }
  }
}

.metrics {
  width: 40%;
  height: 100%;
  color: var(--main-brown-color);
  display: flex;
  flex-direction: column;
  row-gap: 0.5%;

  & > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    background-color: #f5e8df;
    cursor: pointer;
    transition: background-color 0.4s ease-in-out;

    .value {
      font-size: 2.6cqmin;
      font-weight: 600;
    }

    .name {
      font-size: 1.4cqmin;
    }

    &:hover {
      background-color: #e1cfc2;
    }
  }
}
